* {
  box-sizing: border-box;
}

:root {
  background-color: #242424;
  color: #ffffff;
  line-height: 1;

  --color-primary-25: #ebecff;
  --color-primary-50: #eef4ff;
  --color-primary-100: #e0eaff;
  --color-primary-200: #c7d7fe;
  --color-primary-300: #a4bcfd;
  --color-primary-400: #8098f9;
  --color-primary-500: #6172f3;
  --color-primary-600: #444ce7;
  --color-primary-700: #3538cd;
  --color-primary-800: #2d31a6;
  --color-primary-900: #2d3282;
}

body {
  padding: 0 15px;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: none;
  font-family: inherit;
  outline: transparent;
  background-color: transparent;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

input {
  outline: transparent;
  border: none;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}
